@import '../styles/fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-secondary);
    color: var(--text);
    background-color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
    color: var(--text);
}

p {
    font-family: var(--font-secondary);
    color: var(--text);
}